[Desktop Entry]
Name=battery
Comment=My battery
Exec=/home/demonpi/my_script/bat_hat_e/battery.sh
Icon=/home/demonpi/my_script/bat_hat_e/images/battery.1.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
